*.sw?
*.egg
*.egg-info
*.pyc
*.log

# Hidden files
.coverage
.coverage.*
.dockerignore
.eggs
.mypy_cache
.stestr
.test
.testrepository
.tobiko-env
.tobiko
.tox
.vagrant
.venv

__pycache__
AUTHORS
build/*
ChangeLog
doc/
cover/
dist/
etc/*.sample
playbooks/
releasenotes/
report/
roles/
test_results*
zuul/versioninfo

# Files created by releasenotes build
releasenotes/build

Pipfile.lock

# Infrared things
.infrared

# Docker files
Dockerfile
docker-compose.yaml
docker-compose.yml

# Tobiko configuration files
tobiko.conf
