*.sw?
*.egg
*.egg-info
*.pyc
*.log

# Hidden files
.coverage
.coverage.*
.eggs
.stestr
.test
.testrepository
.tox
.vagrant
.venv

__pycache__
AUTHORS
build/*
ChangeLog
cover/
doc/build/*
dist/
etc/*.sample
zuul/versioninfo

# Files created by releasenotes build
releasenotes/build

# Docs related files
doc/source/_static/config-samples/*.sample

Pipfile.lock
