*.sw?
*.egg
*.egg-info
*.pyc
*.log

# Hidden files
.coverage
.coverage.*
.eggs
.mypy_cache
.stestr
.test
.testrepository
.tobiko-env
.tox
.vagrant
.venv
.idea
.ssh

__pycache__
AUTHORS
build/*
ChangeLog
doc/build/*
cover/
dist/
report/
test_results*
zuul/versioninfo

# Files created by releasenotes build
releasenotes/build

Pipfile.lock

# Tobiko configuration file
clouds.yaml
ssh_config
ssh_id*
tobiko.conf

# Infrared things
.infrared
workspace.tgz

# Tripleo files
tripleo-hosts.yaml

# Report files
tobiko_results.html
style.css
