*.sw?
*.egg
*.egg-info
*.pyc
*.log

# Hidden files
.eggs
.coverage*
.stestr
.test
.testrepository
.tox
.vagrant
.venv

__pycache__
AUTHORS
build/*
ChangeLog
cover/
doc/build/*
dist/
etc/
zuul/versioninfo
