ansi2html                # LGPLv3+
pandas                   # BSD
podman                   # Apache-2.0
pytest-rerunfailures     # MPL-2.0
pytest-timeout           # MIT
validations-libs         # APACHE-2.0
