[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tobiko = {editable = true,path = "."}
ansible = "*"
testscenarios = "*"
crayons = "*"
os-faults = "*"
tempest = "*"

[dev-packages]

[requires]
python_version = "3.7"
