# Tobiko framework requirements

docker>=4.4.0                   # Apache-2.0
fixtures>=3.0.0                 # Apache-2.0/BSD
Jinja2>=2.11.2                  # BSD
junitxml>=0.7.0                 # MIT
keystoneauth1>=4.3.0            # Apache-2.0
netaddr>=0.8.0                  # BSD
neutron-lib>=2.7.0              # Apache-2.0
oslo.config>=8.4.0              # Apache-2.0
oslo.log>=4.4.0                 # Apache-2.0
paramiko>=2.7.2                 # LGPLv2.1
pbr>=5.5.1                      # Apache-2.0
podman>=1.6.0                   # Apache-2.0
python-glanceclient>=3.2.2      # Apache-2.0
python-heatclient>=2.3.0        # Apache-2.0
python-neutronclient>=7.2.1     # Apache-2.0
python-novaclient>=17.2.1       # Apache-2.0
python-octaviaclient>=2.2.0     # Apache-2.0
python-openstackclient>=5.4.0   # Apache-2.0
six>=1.15.0                     # MIT
sshtunnel>=0.3.1                # MIT
stestr>=3.1.0                   # Apache-2.0
testtools>=2.4.0                # MIT
