# Unit tests requirements

ansi2html>=1.6.0               # LGPLv3+
coverage>=4.5.0                # Apache-2.0
mock>=2.0.0                    # BSD
psutil>=5.7.2                  # BSD
pytest>=6.0.0                  # MIT
pytest-html>=3.0.0             # MPL-2.0
pytest-xdist[psutil]>=2.0.0    # MIT
