[DEFAULT]


[cirros]

#
# From tobiko
#

# Default cirros image name (string value)
#image_name = <None>

# Default cirros image URL (string value)
#image_url = <None>

# Default cirros image filename (string value)
#image_file = <None>

# Default cirros container format (string value)
#container_format = <None>

# Default cirros disk format (string value)
#disk_format = <None>

# Default cirros username (string value)
#username = <None>

# Default cirros password (string value)
#password = <None>


[glance]

#
# From tobiko
#

# Default directory where to look for image files (string value)
#image_dir = ~/.tobiko/cache/glance/images


[http]

#
# From tobiko
#

# HTTP proxy URL for Rest APIs (string value)
#http_proxy = <None>

# HTTPS proxy URL for Rest APIs (string value)
#https_proxy = <None>

# Don't use proxy server to connect to listed hosts (string value)
#no_proxy = <None>


[keystone]

#
# From tobiko
#

# Identity API version (integer value)
#api_version = <None>

# Identity service URL (string value)
#auth_url = <None>

# Username (string value)
#username = <None>

# Project name (string value)
#project_name = <None>

# Password (string value)
#password = <None>

# Domain name (string value)
#domain_name = <None>

# User domain name (string value)
#user_domain_name = <None>

# Project domain name (string value)
#project_domain_name = <None>

# Project domain ID (string value)
#project_domain_id = <None>

# Trust ID for trust scoping. (string value)
#trust_id = <None>


[neutron]

#
# From tobiko
#

# Network for creating floating IPs (string value)
#floating_network = <None>

# The CIDR block to allocate IPv4 subnets from (string value)
#ipv4_cidr = 10.100.0.0/16

# The mask bits for IPv4 subnets (integer value)
#ipv4_prefixlen = 24

# The CIDR block to allocate IPv6 subnets from (string value)
#ipv6_cidr = 2001:db8::/48

# The mask bits for IPv6 subnets (integer value)
#ipv6_prefixlen = 64

# Customized maximum transfer unit size
# Notes:
#  - MTU values as small as 1000 has been seen breaking networking binding due
# to an unknown cause.
#  - Too big MTU values (like greater than 1400) may be refused during network
# creation (integer value)
#custom_mtu_size = 1400


[nova]

#
# From tobiko
#

# Default flavor for new server instances (string value)
#flavor = <None>

# Default SSH key to login to server instances (string value)
#key_file = ~/.ssh/id_rsa


[ping]

#
# From tobiko
#

# Number of ICMP messages to wait before ending ping command execution (integer
# value)
#count = 1

# Max seconds waited from ping command before self terminating himself (integer
# value)
#deadline = 5

# If disable it will not allow ICMP messages to be delivered in smaller
# fragments (string value)
#fragmentation = True

# Seconds of time interval between consecutive before ICMP messages (string
# value)
#interval = 1

# Size in bytes of ICMP messages (including headers and payload) (integer
# value)
#packet_size = <None>

# Maximum time in seconds a sequence of ICMP messages is sent to a destination
# host before reporting as a failure (integer value)
#timeout = 90.0


[shell]

#
# From tobiko
#

# Default shell command used for executing local commands (string value)
#command = /bin/sh -c


[ssh]

#
# From tobiko
#

# Logout debugging messages of paramiko library (boolean value)
#debug = false

# Default SSH client command (string value)
#command = /usr/bin/ssh

# Default SSH port (string value)
#port = 22

# Default SSH username (string value)
#username = fressi

# Default user SSH configuration files (list value)
#config_files = /etc/ssh/ssh_config,~/.ssh/config

# Default SSH private key file (string value)
#key_file = ~/.ssh/id_rsa

# Set to False to disable connecting to the SSH agent (boolean value)
#allow_agent = false

# Set to True to turn on compression (boolean value)
#compress = false

# SSH connect timeout in seconds (floating point value)
#timeout = 5.0

# Incremental seconds to wait after every failed SSH connection attempt
# (integer value)
#connection_attempts = 60

# Minimal seconds to wait between every failed SSH connection attempt (floating
# point value)
#connection_interval = 5.0

# Default SSH proxy server (string value)
#proxy_jump = <None>

# Default proxy command (string value)
#proxy_command = <None>


[ubuntu]

#
# From tobiko
#

# Default ubuntu image name (string value)
#image_name = <None>

# Default ubuntu image URL (string value)
#image_url = <None>

# Default ubuntu image filename (string value)
#image_file = <None>

# Default ubuntu container format (string value)
#container_format = <None>

# Default ubuntu disk format (string value)
#disk_format = <None>

# Default ubuntu username (string value)
#username = <None>

# Default ubuntu password (string value)
#password = <None>

[octavia]

#
# From tobiko
#

# Interval to check for status changes, in seconds (integer value)
#check_interval = 5

# Timeout, in seconds, to wait for a status change (integer value)
#check_timeout = 360
