cloud_management:
  driver: universal

node_discover:
  driver: node_list
  args:
{% for node in nodes %}
    - fqdn: {{ node['name'] }}
      ip: {{ node['address'] }}
      auth:
        username: {{ node['username'] }}
        private_key_file: {{ node['private_key_file'] }}
{% if proxy %}
        jump:
            host: {{ proxy['host'] }}
            username: {{ proxy['username'] }}
            private_key_file: {{ proxy['private_key_file'] }}
{% endif %}
{% endfor %}

services:
{% for service in services %}
  {{ service }}:
    driver: system_service
    args:
      service_name: {{ service }}
      grep: {{ service }}
{% endfor %}

containers:
{% for container in containers %}
  {{ container }}:
    driver: docker_container
    args:
      container_name: {{ container }}
{% endfor %}
