cloud_management:
  driver: universal

node_discover:
  driver: node_list
  args:
{% for node in nodes %}
    - fqdn: {{ node['fqdn'] }}
      ip: {{ node['ip'] }}
      auth:
        username: {{ node['auth']['username'] }}
        private_key_file: {{ node['auth']['private_key_file'] }}
{% if 'jump' in node['auth'] %}
        jump:
            host: {{ node['auth']['jump']['host'] }}
            username: {{ node['auth']['jump']['username'] }}
            private_key_file: {{ node['auth']['jump']['private_key_file'] }}
{% endif %}
{% endfor %}

{% if services %}
services:
{% for service in services %}
  {{ service }}:
    driver: system_service
    args:
      service_name: {{ service }}
      grep: {{ service }}
{% endfor %}
{% endif %}

{% if containers %}
containers:
{% for container in containers %}
  {{ container }}:
    driver: docker_container
    args:
      container_name: {{ container }}
{% endfor %}
{% endif %}
