[DEFAULT]
debug = true
log_file = "{{ test.dir }}/tobiko.log"
log_dir = .

[nova]
key_file = ~/.ssh/id_rsa

[neutron]
floating_network = "{{ test.floating_network }}"

[ssh]
key_file = ~/.ssh/id_rsa
undercloud_ssh_password = stack
undercloud_ssh_username = stack

[tripleo]
undercloud_ssh_hostname = undercloud-0
