# As openstack job build-reno-releasenotes and Read The Docs page support only
# one single requirements file for a project, we need to have one such file
# which will include all project requirements
-r ../requirements.txt
-r ../extra-requirements.txt
-r ./requirements.txt
sphinx_rtd_theme>=0.5.1,<1    # Apache-2.0
