# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# As openstack job build-reno-releasenotes and Read The Docs page support only
# one single requirements file for a project, we need to have one such file
# which will include all project requirements
-r ../requirements.txt
-r ../extra-requirements.txt
oslo.log>=3.36.0              # Apache-2.0
oslotest>=3.2.0               # Apache-2.0
reno>=2.5.0                   # Apache-2.0
sphinx!=1.6.6,!=1.6.7,>=1.6.2;python_version>='3.4'         # BSD
sphinx_rtd_theme>=0.4.2,< 1   # Apache-2.0
