# To use IR master branch version please copy below URL
git+https://github.com/redhat-openstack/infrared.git

# To use instead an IR patchsets use instead below URL replaching with your
# rigth full patchset endpoint
# git+https://review.gerrithub.io/redhat-openstack/infrared@refs/changes/23/493623/12
