---

test_workflow_steps:

  - tox_description: 'run functional test cases'
    tox_envlist: functional
    tox_step_name: functional
    tox_environment:
      TOBIKO_PREVENT_CREATE: no
      TOX_RERUNS: 2
      TOX_RERUNS_DELAY: 60

  - tox_description: 'check workload resources'
    tox_envlist: scenario
    tox_step_name: create_resources
    tox_environment:
      TOBIKO_PREVENT_CREATE: no
      TOX_RERUNS: 2
      TOX_RERUNS_DELAY: 60
