---

# --- Tobiko workflow stages

test_stage: all
test_no_become: "{{ ansible_os_family in ['Darwin'] }}"
test_become: '{{ not (test_no_become | bool) }}'

# --- Test deploy options -----------------------------------------------------

test_deploy_home: '{{ ansible_user_dir | realpath }}/src'

git_base: 'https://opendev.org'

test_dir: "{{ test_deploy_home }}/{{ test_project }}"
test_project:
  "{{ test_git_repo | urlsplit('path') | regex_replace('^\\/|\\/$', '') | splitext | first }}"
test_git_repo: '{{ git_base }}/x/tobiko.git'
test_src_dir: ''


# NOTE: if test_dir and tobiko_dir variables endup being the same actual
# directory then test_src and test_git_* variables will be overriden
# tobiko_src and tobiko_git_* variables

tobiko_dir: "{{ test_deploy_home }}/{{ tobiko_project }}"
tobiko_project:
  "{{ tobiko_git_repo | urlsplit('path') | regex_replace('^\\/|\\/$', '') | splitext | first }}"
tobiko_git_repo: '{{ git_base }}/x/tobiko.git'
tobiko_src_dir: ''


# --- Test configuration options ----------------------------------------------

# Configuration options
test_conf_file: '{{ test_dir | realpath }}/tobiko.conf'

test_conf: {}

# --- Test report options -----------------------------------------------------

# Remote directory where test cases shoulw write report files to
test_report_dir: "{{ test_dir | realpath }}/report"
test_report_files:
  - '{{ test_conf_file | realpath }}'
  - '{{ test_log_file | realpath }}'

# Test report files prefix
test_report_name: test_results

# Log file where test cases should write logging messages to
test_log_file: '{{ test_report_dir | realpath }}/tobiko.log'

# Local where test cases results are being collected to
test_collect_dir: '{{ test_src_dir | realpath }}/{{ test_report_name }}'


# --- Workaround compatibility issues -----------------------------------------

upper_constraints_file:
  'https://opendev.org/openstack/requirements/raw/branch/master/upper-constraints.txt'
